@media (max-width: 1200px) { 
    .prueba{
        display: block !important;
        justify-content:  left !important;
       
    }
   .itemFooter{
            margin: 30px auto   !important;
            text-align: center;
       
   } 
 }
.dropdown-toggle::after {
visibility: hidden;
}
#nav-dropdown{
   color: white   !important;
}
.dropdown-menu { 
    color: white !important;
    font-weight: bold;
    background-color: #0651F2 !important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white !important;
}

.nav-link {
    background-color: transparent   !important;
    color: transparent   !important;
}

.nav-link:hover {
    background-color: transparent   !important;
    color: transparent   !important;
}
.dropdownWidth{
    width: 190px !important;
}